* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: var(--background-content);
  color: var(--color-texto-principal);
  border: 1px solid var(--color-border);
  height: auto;
  border-radius: 10px;
  transition: 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.card:hover {
  background: var(--color-secundario);
  color: var(--color-texto-principal);
  border: 1px solid var(--color-secundario);
  transition: 1s;
}

/* .card:hover .card__footer {
  border-top: 1px solid var(--color-secundario);
  transition: 0.8s;
} */

.card__body {
  display: block;
  position: relative;
  width: 240px;
  height: 450px;
  margin: auto;
  object-fit: scale-down;
}

.card__footer {
  width: 100%;
  padding: 0.75rem;
  color: var(--color-texto-principal);
  /* border-top: 1px solid var(--color-border); */
  display: flex;
  gap: 6px;
  flex-direction: column;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.card__footer h2 {
  color: var(--color-texto-secundario);
  transition: 0.8s;
}

.card__footer p {
  color: var(--color-texto-secundario);
  transition: 0.8s;
}

/* .card:has(.card__footer:hover) {
  border-top: 1px solid var(--color-secundario);
  transition: 1s;
} */

.card:has(.card__footer:hover) h2,
.card:has(.card__footer:hover) p {
  color: var(--color-blanco);
  transition: 0.8s;
}