<div class="container">
  <div class="layout-character">
    <div class="character">
      <div>
        <button class="prev">
          <i class="ri-arrow-left-wide-fill"></i>
        </button>
      </div>
      <div class="characters"></div>
      <div>
        <button class="next">
          <i class="ri-arrow-right-wide-line"></i>
        </button>
      </div>
    </div>
    <div class="characteristics">
      <h2 class="name"></h2>
      <div class="ki">
        <p>Poder: <span></span></p>
      </div>
      <div class="maxki">
        <p>Maximo poder: <span></span></p>
      </div>
      <div class="race">
        <p>Raza: <span></span></p>
      </div>
      <div class="gender">
        <p>Genero: <span></span></p>
      </div>
      <div class="affiliation">
        <p>Afiliación: <span></span></p>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
    <div class="planet">
      <div class="name planeta-titulo">
        <h2></h2>
      </div>
      <div class="name planeta-descripcion">
        <p></p>
      </div>
      <div class="planeta-imagen">
        <img src="" alt="planeta">
      </div>
    </div>
  </div>
</div>