<div class="saludo">
  <div class="descripcion">
    <h1 class="descripcion__titulo">Dragon Ball</h1>
    <p class="descripcion__parrafo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur non eligendi omnis ex inventore eaque nulla quas explicabo dignissimos sit, architecto distinctio illo, necessitatibus iste amet quos nostrum alias
    </p>
    <p class="descripcion__parrafo">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, cupiditate.
    </p>
  </div>
  <div class="botonera">
    <button class="prev"> <i class="ri-arrow-left-wide-fill"></i> </button>
    <button class="next"> <i class="ri-arrow-right-wide-line"></i> </button>
  </div>
  <div class="carrusel">
    <img class="figura activa" src="./public/images/grupo.png" alt="goku">
    <img class="figura" src="./public/images/goku-nube.png" alt="goku">
    <img class="figura" src="./public/images/images/amigos.png" alt="goku">
  </div>
</div>