* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  padding: 20px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(3px 2px 8px #a5a5a5);
  object-fit: contain;
  opacity: 0;
  animation: fadeInZoom 1s ease-out forwards;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}